aiohttp
aiomysql
aiosignal
appdirs
attrs
Automat
beautifulsoup4
bs4
certifi
charset-normalizer
constantly
cssselect
fake-useragent
frozenlist
h11
hyperlink
idna
importlib-metadata
incremental
lxml
multidict
outcome
packaging
parse
psutil
pyee
PyMySQL
pyppeteer
pyquery
PySocks
python-dotenv
requests
requests-html
selenium
six
sniffio
sortedcontainers
soupsieve
tqdm
trio
trio-websocket
Twisted
typing_extensions
urllib3
w3lib
webdriver-manager
websockets
wsproto
yarl
zipp
zope.interface
